@{

    Layout = null;
    ViewBag.Title = string.Format("Iniciar sesión: {0} - {1}", globales.mssql_App, globales.versionApp);

    string Mensaje = string.Empty;
    if (ViewBag.strMensajeNotificacion != null)
    {
        Mensaje = ViewBag.strMensajeNotificacion;
    }

    <style>
        .centrado {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Content/myLogin.css" rel="stylesheet" />
    <!DOCTYPE html>
    <html>

    <head>
        <title>MS ROCEDES - Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    </head>
    <!--Coded with love by Mutiullah Samim-->
    <body>
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="~/Content/media/logSM.png" class="brand_logo" alt="Logo">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        @using (Html.BeginForm("Dashboard", "Reportes", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            ;
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input name="txtUsuario" id="txtUsuario" class="form-control input_user" required type="text" placeholder="Escriba su usuario">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input name="txtClave" id="txtClave" required type="password" placeholder="Contraseña" class="form-control input_pass">
                                <input type="hidden" name="EsSesionIniciada" id="EsSesionIniciada" value="false" />
                            </div>
                            <div class="d-flex justify-content-center mt-3 login_container">
                                <button type="submit" name="button" class="btn login_btn">Iniciar sesión</button>
                            </div>
                        }
                    </div>

                    <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            Versión @globales.versionApp
                        </div>
                        <div class="d-flex justify-content-center links">
                            <a href="http://www.rocedes.com.ni/">Visita nuestro sitio web oficial</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>
}